.contact-page-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  
  .sub-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    //border: 1px solid red;
    padding: 1rem;

    h2{
      font-weight: 600;
      font-size: 36px;
    }
  }
}

@media screen and (max-width:650px) {
  .contact-page-container {
    height: 80vh;
    align-items: flex-start;
    padding-top: 3rem;
    .sub-container{
      padding: 1.5rem;
    }
  }
}