.contact-page-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  
  .sub-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    //border: 1px solid red;
    padding: 1rem;

    h2{
      font-weight: 600;
      font-size: 36px;
    }
    
  }
}