.cfi-label {
  font-weight: 500;
  font-size: 14px;
  color: #354054;
  width: 100%;
}

.cfi-input {
  display: block;
  padding: .3rem;
  font-weight: 400;
  font-size: 16px;
  color: #667085;
  border: 1px solid #D0D5DD;
  width: 100%;
}